body{
    margin: 0;
    padding: 0 10px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.content__grid{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3,200px);
    grid-auto-rows: 1fr;
    border: 1px solid black;
    box-sizing: border-box;
    gap: 10px 10px;
    padding: 10px;
}
.item__grid:nth-child(1){
    background-color: #e44;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item__grid:nth-child(2){
    background-color: rgb(68, 204, 238);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item__grid:nth-child(3){
    background-color: rgb(72, 245, 19);
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item__grid:nth-child(4){
    background-color: rgb(94, 19, 245);
    /*Inicia en la columna 1 y toma 6 espacios*/
    grid-column: 1 / span 6;
    grid-row: 4 / span 2;
}
.auto__fit{
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.auto__fill{
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
}
.item__grid{
    background-color: #48e;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*content text*/
.content__context{
    padding: 2%;
    box-sizing: border-box;
}