body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    background-color: #fff;
    border: 1px solid #48e;
    border-radius: 39px;
    box-sizing: border-box;
    transition: border .6s steps(6);
}
.barra{
    margin: 20px;
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 8%;
    transition: width 1s steps(60), background-color .6s steps(60);
    box-sizing: border-box;

}
.barra:active{
    width: 95%;
    transition-duration: 2s;
    background-color: red;
}
.box:has(.barra:active){
    border: 4px solid red;
    transition-duration: 3s;
}