.content__personaje{
    width: 60%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 15rem);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #DC0F0D;
}
.img__personaje{
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 3 / 2;
}

.content__informacion{
    height:100%;
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
}
.content__arma{
    height: 100%;
    width: 100%;
    grid-area: 2 / 2 / 3 / 3;
}