body{
    margin: 0;
    background-color: #222;
    color: #ededed;
    font-family: sans-serif;
}
input , textarea , select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 20px;
    border: 1px solid #707070;
    box-shadow: 0px 0px 5px #000000;
    background: transparent;
    color: #eee;
    margin-top: 10px;
}
textarea{
    min-width: 100%;/*Tamaño de ancho minimo*/
    /*max-height: 200px;Tamaño altura maximo final*/
    min-height: 100px;/*Tamaño altura minimo inicial*/
    resize: none;/*no permite expandir ni a lo alto ni a lo largo*/
    font-family: sans-serif;
}
.form_input{
    padding: 10px 20px;
}
h2{
    text-align: center;
}
form{
    padding: 20px 10px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0px 0px 35px #000000;
    border-radius: 10px;
    background: transparent;
}
label{
    font-family: sans-serif;
    font-size: 20px;
}
form input[type="checkbox"]{
    width: auto;
}
option{
    background: #222;
}
fieldset{
    margin: 10px 0;
    border: 1px solid #707070;
    border-radius: 10px;
}
legend{
    padding: 0 20px;
    border: 1px solid #707070;
    border-radius: 10px;
    background: #707070;
}
a{
    color: #00bfff;
    text-decoration: none;
}